<!-- INCLUDE overall_header.html -->

<div id="left-column">



<!-- IF 0  -->
	<p class="{S_CONTENT_FLOW_END} responsive-center time<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
	<!-- IF S_USER_LOGGED_IN --><p class="responsive-center time">{CURRENT_TIME}</p><!-- ENDIF -->

	<!-- EVENT index_body_markforums_before -->
	<!-- IF U_MARK_FORUMS -->
		<div class="action-bar compact">
			<a href="{U_MARK_FORUMS}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->



<!-- EVENT index_body_markforums_after -->

<!-- INCLUDE forumlist_body.html -->



<!-- IF 0 -->
	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username"><span>{L_USERNAME}{L_COLON}</span> <input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" /></label>
			<label for="password"><span>{L_PASSWORD}{L_COLON}</span> <input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" /></label>
			<!-- IF U_SEND_PASSWORD -->
				<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
			<!-- ENDIF -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<span class="responsive-hide">|</span> <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
	<!-- ENDIF -->
<!-- ENDIF -->



<!-- EVENT index_body_stat_blocks_before -->

 <div id="forum-stats" class="index-stats-panel">
	<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="panel panel-default float-left online-list">
		
		<div class="panel-heading">
			<h3>
			<i class="fa fa-question-circle"></i> 
			<!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>
			<!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF -->
			</h3>
		</div>

		<div class="panel-body">
		<p>
			<!-- EVENT index_body_block_online_prepend -->
			{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
			<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
			<!-- EVENT index_body_block_online_append -->		</p>
		</div>

	</div>
	<!-- ENDIF -->



	<!-- IF NEWEST_USER -->
	<div class="panel panel-default float-right statistics">
		
		<div class="panel-heading">
		<h3><i class="fa fa-pie-chart"></i> {L_STATISTICS}</h3>
		</div>

		<div class="panel-body">
		<p>
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} <br />
			{TOTAL_TOPICS} <br />
			{TOTAL_USERS} <br /> <br />
			{NEWEST_USER} <br />
			{S_TIMEZONE}
			<!-- EVENT index_body_block_stats_append -->
		</p>
		</div>

	</div>
	<!-- ENDIF -->

	<br class="float-clear" />

	<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	 <div id="birthdays-block" class="panel panel-default birthday-list">
	  
	  <div class="panel-heading">
	  <h3>{L_BIRTHDAYS}</h3>
	  </div>

	  <div class="panel-body">  
		<p>
			<!-- EVENT index_body_block_birthday_prepend -->
			<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
			<!-- EVENT index_body_block_birthday_append -->
		</p>
	  </div>

	 </div><!-- /#birthdays-block -->
	<!-- ENDIF -->

	<p class="info-block"><i class="fa fa-clock-o"></i> {CURRENT_TIME}</p>

 </div><!-- /#forum-stats -->

 <br class="float-clear" />

<!-- EVENT index_body_stat_blocks_after -->


</div><!-- /#left-column -->



<!-- IF MBRN_LAYOUT_SIDEBAR or MBRN_LAYOUT_SIDEBAR == null -->
<!-- INCLUDE m_sidebar_right.html -->
<!-- ENDIF -->


<br class="float-clear" />


<!-- INCLUDE overall_footer.html -->