<!-- Leaderboard Size (728x90) -->
<div class="adblock ad-leaderboard">
	<img src="{T_THEME_PATH}/images/adblock-leaderboard.png" alt="AdSense Leaderboard Ad example">
</div>

<!-- Banner Size (468x60) -->
<div class="adblock ad-banner">
	<img src="{T_THEME_PATH}/images/adblock-banner.png" alt="AdSense Banner Ad example">
</div>

<!-- Mobile Leaderboard Size (320x50) -->
<div class="adblock ad-mobile-leaderboard">
	<img src="{T_THEME_PATH}/images/adblock-mobile-leaderboard.png" alt="AdSense Mobile Leaderboard Ad example">
</div>