<footer class="footer-body" id="mobbern-footer-2">
<div class="page-width container">

	<div id="scroll-top">
	  <a id="scroll-top-button" class="scroll-link anim-250" href="#wrap"  title="{L_BACK_TO_TOP}"><i class="fa fa-angle-up"></i></a>
	</div>

	<div class="copyright">
	  <div class="row">
			<div class="col-md-4">{CREDIT_LINE}</div>

	  	<div class="col-md-4 footer-contact-social">
	  		<ul class="list-unstyled list-inline">
	  		<!-- IF MBRN_CP -->
	  		 <!-- IF MBRN_FOOTER_FB != null -->
	  		 <li><a href="{MBRN_FOOTER_FB}" title="Facebook"><i class="icon fa fa-facebook"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_GP != null -->
	  		 <li><a href="{MBRN_FOOTER_GP}" title="Google Plus"><i class="icon fa fa-google-plus"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_TW != null -->
	  		 <li><a href="{MBRN_FOOTER_TW}" title="Twitter"><i class="icon fa fa-twitter"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_LN != null -->
	  		 <li><a href="{MBRN_FOOTER_LN}" title="LinkedIn"><i class="icon fa fa-linkedin"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_PI != null -->
	  		 <li><a href="{MBRN_FOOTER_PI}" title="Pinterest"><i class="icon fa fa-pinterest"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_WP != null -->
	  		 <li><a href="{MBRN_FOOTER_WP}" title="Wodpress"><i class="icon fa fa-wordpress"></i></a></li>
	  		 <!-- ENDIF -->
	  		 <!-- IF MBRN_FOOTER_YT != null -->
	  		 <li><a href="{MBRN_FOOTER_YT}" title="Youtube"><i class="icon fa fa-youtube"></i></a></li>
	  		 <!-- ENDIF -->
	  		<!-- ELSE -->
	  		 <li><a href="#" title="Facebook"><i class="icon fa fa-facebook"></i></a></li>
	  		 <li><a href="#" title="Google Plus"><i class="icon fa fa-google-plus"></i></a></li>
	  		 <li><a href="#" title="Twitter"><i class="icon fa fa-twitter"></i></a></li>
	  		 <li><a href="#" title="LinkedIn"><i class="icon fa fa-linkedin"></i></a></li>
	  		 <li><a href="#" title="Pinterest"><i class="icon fa fa-pinterest"></i></a></li>
	  		 <li><a href="#" title="Wodpress"><i class="icon fa fa-wordpress"></i></a></li>
	  		 <li><a href="#" title="Youtube"><i class="icon fa fa-youtube"></i></a></li>
	  		<!-- ENDIF -->
	  		</ul>
	  	</div>

		  <div class="col-md-4 author-link">
		  	<strong>&copy;</strong>
		  	<!-- IF MBRN_FOOTER_COPYRIGHT != null -->
		  	{MBRN_FOOTER_COPYRIGHT}
		  	<!-- ELSE -->
		  	Theme by <a href="http://www.masivotech.com/">Masivo</a> and <a href="http://www.phpbb-seo.ir">phpBB-SEO</a>
		  	<!-- ENDIF -->
		  </div>
	  </div>
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->			
	</div>

<!-- IF U_ACP -->
<!-- INCLUDE m_footer_access_buttons.html -->
<!-- ENDIF -->

</div><!-- /.page-width.container -->


</footer><!-- /#mobbern-footer-2 -->