<footer class="footer-body" id="mobbern-footer-3">
<div class="page-width container">

	<div id="scroll-top">
	  <a id="scroll-top-button" class="scroll-link anim-250" href="#wrap" title="{L_BACK_TO_TOP}"><i class="fa fa-angle-up"></i></a>
	</div>

	<div class="copyright">
	  <div class="row">
			<div class="col-md-6 col-sm-6">{CREDIT_LINE}</div>

		  <div class="col-md-6 col-sm-6 author-link">
		  	<strong>&copy;</strong>
		  	<!-- IF MBRN_FOOTER_COPYRIGHT != null -->
		  	{MBRN_FOOTER_COPYRIGHT}
		  	<!-- ELSE -->
		  	Theme by <a href="http://www.masivotech.com/">Masivo</a> and <a href="http://www.phpbb-seo.ir">phpBB-SEO</a>
		  	<!-- ENDIF -->
		  </div>
	  </div>
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->			
	</div>


	<div class="row">
	  <div id="footer-about" class="footer-panel col-md-4">
	  	<h3><span class="header-icon"><i class="fa fa-question"></i></span> About Us</h3>
	  	<div class="footer-panel-body">
	  		<p>Hoodie authentic commodo sartorial biodiesel wolf tousled. Delectus retro fingerstache Shoreditch non. Banksy semiotics bitters fugiat twee disrupt. </p>

			<p>High Life irure Portland next level cliche, put a bird on it try hard eu meggings cred normcore asymmetrical locavore.</p>
			<p>Trust fund Tonx kitsch, distillery Banksy voluptate aute.<br />
			Made cool using <a href="http://hipsum.co/">Hipster Ipsum</a>.</p>
	  	</div>
	  </div> <!-- /#footer-about -->


	  <div id="footer-contact" class="footer-panel col-md-8">
	    <!-- IF MBRN_ADS_FOOTER == null || MBRN_ADS_FOOTER -->
	  	<h3><span class="header-icon"><i class="fa fa-heart-o"></i></span> Sponsor </h3>

			<div class="footer-adspace adspace">

				<!-- INCLUDE m_ads_code_footer.html -->

			</div>
			<!-- ENDIF -->
	  </div><!-- /#footer-contact -->
	  </div>

<!-- IF U_ACP -->
<!-- INCLUDE m_footer_access_buttons.html -->
<!-- ENDIF -->

</div><!-- /.page-width.container -->

</footer><!-- /#mobbern-footer-3 -->