<header class="header-body" id="mobbern-header-4">

<!-- Header Navbar -->
<div class="navbar-transparent">
<!-- INCLUDE m_header_navbar.html -->
</div>

<!-- Header Headline -->
<div id="header-big" class="carousel slide" data-ride="carousel">
 
 <!-- Indicators -->
 <ol class="carousel-indicators">
  <li data-target="#header-big" data-slide-to="0" class="active"></li>
  <li data-target="#header-big" data-slide-to="1"></li>
 </ol>

 <div class="carousel-inner">

  <!-- Carousel Slide 1 : -->
  <div class="item active">
    <img src="https://wallpapers.com/images/high/ultrawide-white-sand-beach-b6wif1jbyowa0ta9.jpg" style="opacity: 0.15;" alt="mobbern" />
    <div class="container">
      <div class="carousel-caption">
        <h1 class="slider-header">Introducing: <span class="strong">Mobbern</span></h1>
        <h2 class="slider-subheader">phpBB3 <span class="text-white">Responsive</span> Theme with <span class="text-white">Material Design</span></h2>
        <p class="slider-featureslist">
					<i class="fa fa-cog"></i> Theme Control Panel
          <i class="fa fa-check"></i>100% Responsive ( Bootstrap 3 )
          <i class="fa fa-apple"></i> Retina-Ready
          <i class="fa fa-html5"></i> HTML5
          <i class="fa fa-css3"></i> CSS3
          <i class="fa fa-heart"></i> Fast &amp; Clean
        </p>
        <p class="slider-featureslist">
          <i class="fa fa-cubes"></i> 5 Headers &amp; Footers
          <i class="fa fa-star"></i> 5 Color Themes
					<i class="fa fa-pencil"></i> Custom Color Themes
        </p>
        <p class="slider-buttons-container">
          <a class="btn btn-lg btn-primary anim-150" href="http://www.masivotech.com/docs/phpbb3/mobbern/" role="button"><i class="fa fa-chevron-circle-down"></i>Online Documentation</a>
        </p>
      </div>
    </div>
  </div><!-- /.item - Carousel Slide 1 -->

  <!-- Carousel Slide 2 : -->
  <div class="item">
    <img src="https://wallpapers.com/images/high/ultrawide-white-sand-beach-b6wif1jbyowa0ta9.jpg" style="opacity: 0.15;" alt="mobbern" />
    <div class="container">
      <div class="carousel-caption">
        <h1 class="slider-header margin-v-20px"><i class="fa fa-refresh fa-spin"></i> New <span class="strong">Slider System</span></h1>
        <p class="slider-subheader margin-v-20px" style="font-weight: 300; margin-top: 15px; font-size: 18px;">
          <h2 class="slider-subheader text-150x">With clear step-by-step instructions in the documentation.</h2>
          <p class="slider-buttons-container">
            <a class="btn btn-lg btn-primary anim-150" href="http://www.masivotech.com/docs/phpbb3/mobbern/#doc_slider" role="button"><i class="fa fa-external-link-square"></i> More Info</a>
          </p>
        </p>
      </div>    
    </div>
  </div><!-- /.item - Carousel Slide 2 -->

  <!-- Add More Carousel Slides Here -->

 </div>

 <!-- START: Carousel Controllers : -->
 
 <a class="left carousel-control anim-150" href="#header-big" role="button" data-slide="prev">
   <i class="fa fa-angle-left"></i>
 </a><!-- /.left - Carousel-Control -->

 <a class="right carousel-control anim-150" href="#header-big" role="button" data-slide="next">
   <i class="fa fa-angle-right"></i>
 </a><!-- /.right - Carousel-Control -->

 <!-- END: Carousel Controllers -->

</div><!-- /#header-big -->

<div class="float-clear"></div>
</header><!-- /#mobbern-header-4 -->