          <ul class="post-buttons profile-icons">

            <!-- EVENT viewtopic_body_post_buttons_before -->

            <!-- IF postrow.U_EDIT -->
              <li>
                <a href="{postrow.U_EDIT}" title="{L_EDIT_POST}" class="button icon-button edit-icon">
                <i class="fa fa-arrow-circle-right"></i>
                <span>{L_BUTTON_EDIT}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- IF postrow.U_DELETE -->
              <li>
                <a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="button icon-button delete-icon">
                <i class="fa fa-times-circle text-danger"></i>
                <span>{L_DELETE_POST}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- IF postrow.U_REPORT -->
              <li>
                <a href="{postrow.U_REPORT}" title="{L_REPORT_POST}" class="button icon-button report-icon">
                <i class="fa fa-minus-circle text-warning"></i>
                <span>{L_REPORT_POST}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- IF postrow.U_WARN -->
              <li>
                <a href="{postrow.U_WARN}" title="{L_WARN_USER}" class="button icon-button warn-icon">
                <i class="fa fa-exclamation-circle text-danger"></i>
                <span>{L_WARN_USER}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- IF postrow.U_INFO -->
              <li>
                <a href="{postrow.U_INFO}" title="{L_INFORMATION}" class="button icon-button info-icon">
                <i class="fa fa-question-circle text-info"></i>
                <span>{L_INFORMATION}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- IF postrow.U_QUOTE -->
              <li>
                <a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button icon-button quote-icon">
                <i class="fa fa-plus-circle"></i>
                <span>{L_QUOTE}</span></a>
              </li>
            <!-- ENDIF -->

            <!-- EVENT viewtopic_body_post_buttons_after -->

          </ul>
