<!-- INCLUDE overall_header.html -->

<h2 class="forum-title">
  <!-- EVENT viewforum_forum_name_prepend -->

  <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a>

  <!-- EVENT viewforum_forum_name_append -->

  <!-- IF FORUM_DESC or MODERATORS or U_MCP -->
    <!-- IF FORUM_DESC -->
    <div class="subheader">{FORUM_DESC}<br /></div>
    <!-- ENDIF -->

    <!-- IF MODERATORS -->
    <div class="subheader">
    <!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->
    {L_COLON} {MODERATORS}
    </div>
    <!-- ENDIF -->

  <!-- ENDIF -->
</h2>



<!-- IF S_FORUM_RULES -->
<div class="panel panel-default panel-rules rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">

  <div class="panel-heading">
    <h3>
    <i class="fa fa-gavel"></i>&nbsp;&nbsp;
    <!-- IF U_FORUM_RULES -->
    <a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
    <!-- ELSE -->
    {L_FORUM_RULES}
    <!-- ENDIF -->
    </h3>
  </div>

  <!-- IF not U_FORUM_RULES -->
    <div class="panel-body">
    {FORUM_RULES}
    </div>
  <!-- ENDIF -->

</div>
<!-- ENDIF -->



<!-- IF S_HAS_SUBFORUM -->
  <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
  <div class="action-bar topic-actions compact">
    <a class="button1" href="{U_MARK_FORUMS}" class="mark-read rightside" data-ajax="mark_forums_read"><i class="fa fa-check"></i>&nbsp;&nbsp;{L_MARK_SUBFORUMS_READ}</a>
  </div>
  <!-- ENDIF -->

  <!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->



<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
<div class="action-bar top topic-actions">

  <div class="float-left">

    <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
    <div class="buttons">
      <!-- EVENT viewforum_buttons_top_before -->

      <a class="button1" href="{U_POST_NEW_TOPIC}">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;

      <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
      </a>

      <!-- EVENT viewforum_buttons_top_after -->
    </div>
    <!-- ENDIF -->


    <div class="forum-info-text">
      {TOTAL_TOPICS} &nbsp; &bull; &nbsp;

      <!-- IF .pagination -->
        <!-- INCLUDE pagination.html -->
      <!-- ELSE -->
        &nbsp; &bull; &nbsp; {PAGE_NUMBER}
      <!-- ENDIF -->
    </div>

  </div><!-- /.float-left -->


  <div class="float-right">

    <!-- IF S_DISPLAY_SEARCHBOX -->
      <div class="search-box">
        <form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
        <fieldset>
          <input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}" />

          <input class="button2" type="submit" value="&#xf002;" title="{L_SEARCH}" />

          {S_SEARCH_LOCAL_HIDDEN_FIELDS}
        </fieldset>
        </form>
      </div>
    <!-- ENDIF -->

    <!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
        <!-- IF not S_IS_BOT and U_MARK_TOPICS -->
        <div class="pagination">
        <a href="{U_MARK_TOPICS}" class="button1 float-right" data-ajax="mark_topics_read"><i class="fa fa-check"></i>&nbsp;&nbsp;{L_MARK_TOPICS_READ}</a>
        </div>
        <!-- ENDIF -->
    <!-- ENDIF -->
  
  </div><!-- /.float-right -->

</div><!-- /.topic-actions -->
<!-- ENDIF -->



<!-- IF S_NO_READ_ACCESS -->

  <div class="panel">
    <strong>{L_NO_READ_ACCESS}</strong>
  </div>


  <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

    <form action="{S_LOGIN_ACTION}" method="post">

    <div class="panel">

      <div class="content">
        <h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

        <fieldset class="fields1">
        <dl>
          <dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
          <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
        </dl>
        <dl>
          <dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
          <dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
          <!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
          <dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
        </dl>
        {S_LOGIN_REDIRECT}
        </fieldset>
      </div>

    </div>

    </form>

  <!-- ENDIF -->

<!-- ENDIF -->



<!-- BEGIN topicrow -->

  <!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
    </ul>
    </div>
  </div>
  <!-- ENDIF -->

  <!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
    <div class="viewforum-body forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
    <div class="inner">
    <ul class="topiclist">
      <li class="header">
        <dl class="icon">
          <dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->> 
            <div class="list-inner">
            <i class="fa fa-file-text icon"></i>
            <!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF -->
            </div>
          </dt>

          <dd class="posts">{L_REPLIES}</dd>
          <dd class="views">{L_VIEWS}</dd>
          <dd class="lastpost"><span>{L_LAST_POST}</span></dd>

          <dd class="collapse-button" title="Toggle Panel" data-toggle="collapse" data-target="#collapsable-topic-{topicrow.TOPIC_ID}">
          <i class="fa fa-chevron-circle-up"></i>
          </dd>
        </dl>
      </li>
    </ul>

    <ul id="collapsable-topic-{topicrow.TOPIC_ID}" class="topiclist topics">
  <!-- ENDIF -->


    <li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">

      <dl class="icon {topicrow.TOPIC_IMG_STYLE}">

        <dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">

          <!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->
          <a href="{topicrow.U_NEWEST_POST}" class="icon-link"></a>
          <!-- ENDIF -->

          <div class="list-inner">

           <!-- EVENT topiclist_row_prepend -->

            <!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT -->
            <a href="{topicrow.U_NEWEST_POST}"><i class="fa fa-external-link-square"></i></a>&nbsp; 
            <!-- ENDIF -->

            <a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>

            <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
            <a href="{topicrow.U_MCP_QUEUE}"><i class="fa fa-exclamation-triangle text-warning"></i></a>&nbsp; 
            <!-- ENDIF -->

            <!-- IF topicrow.S_TOPIC_DELETED -->
            <a href="{topicrow.U_MCP_QUEUE}"><i class="fa fa-times-circle text-danger"></i></a>&nbsp; 
            <!-- ENDIF -->

            <!-- IF topicrow.S_TOPIC_REPORTED -->
            <a href="{topicrow.U_MCP_REPORT}"><i class="fa fa-minus-circle text-danger"></i></a>&nbsp; 
            <!-- ENDIF -->
            <br />


            <!-- IF not S_IS_BOT -->
              <div class="responsive-show" style="display: none;">
              {L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_TIME}</a>
              <!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --><br />{L_POSTED} {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
              </div>
              <!-- IF topicrow.REPLIES -->
              <span class="responsive-show left-box" style="display: none;">{L_REPLIES}{L_COLON} <strong>{topicrow.REPLIES}</strong></span>
              <!-- ENDIF -->
            <!-- ENDIF -->


            <!-- IF .topicrow.pagination -->
            <div class="pagination">
              <ul>
              <!-- BEGIN pagination -->
                <!-- IF topicrow.pagination.S_IS_PREV -->
                <!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
                <!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
                <!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
                <!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
                <!-- ENDIF -->
              <!-- END pagination -->
              </ul>
            </div>
            <!-- ENDIF -->


            <span class="topic-author">
              <!-- IF topicrow.S_HAS_POLL -->
              <i class="fa fa-bar-chart"></i> 
              <!-- ENDIF -->

              <!-- IF topicrow.ATTACH_ICON_IMG -->
              <i class="fa fa-paperclip"></i> 
              <!-- ENDIF -->

              {L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
              <!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
            </span>

           <!-- EVENT topiclist_row_append -->

          </div><!-- /.list-inner -->
        </dt>


        <dd class="posts">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></dd>

        <dd class="views">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>

        <dd class="lastpost">
          <span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}

          <!-- IF not S_IS_BOT -->
          <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}"><i class="fa fa-external-link-square"></i></a>
          <!-- ENDIF -->
          <br />
          {topicrow.LAST_POST_TIME}
          </span>
        </dd>
      </dl>
    </li>


  <!-- IF topicrow.S_LAST_ROW -->
      </ul>
    </div>
  </div>
  <!-- ENDIF -->



<!-- BEGINELSE -->
  <!-- IF S_IS_POSTABLE -->
  <div class="panel panel-default panel-material">
    <div class="panel-heading">
    <h3>Sorry!</h3>
    </div>
    
    <div class="panel-body">
    <p>{L_NO_TOPICS}</p>
    </div>

  </div>
  <!-- ENDIF -->
<!-- END topicrow -->



<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
<div class="forum-opts info-block">
  <div class="float-left">

    <form method="post" action="{S_FORUM_ACTION}">
      <fieldset class="display-options">
      
      <!-- IF not S_IS_BOT -->
      <label>{L_DISPLAY_TOPICS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
      <label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
      <label>{S_SELECT_SORT_DIR}</label>
      <input type="submit" name="sort" value="&#xf054;" class="button2" />
      <!-- ENDIF -->
      
      </fieldset>
    </form>
  </div><!-- /.float-left -->

  <!-- IF U_MCP -->
  <div class="float-right">
  <a href="{U_MCP}"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;{L_MCP}</a>
  </div>
  <!-- ENDIF -->

</div><!-- /.forum-opts -->
<!-- ENDIF -->



<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
  <div class="action-bar topic-actions bottom">

    <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
      <div class="buttons">
        <!-- EVENT viewforum_buttons_bottom_before -->

        <a class="button1" href="{U_POST_NEW_TOPIC}">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;
        <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
        </a>

        <!-- EVENT viewforum_buttons_bottom_after -->
      </div>
    <!-- ENDIF -->


    <div class="forum-info-text">
    {TOTAL_TOPICS} &nbsp; &bull; &nbsp;

      <!-- IF .pagination -->
        <!-- INCLUDE pagination.html -->
      <!-- ELSE -->
         &nbsp; &bull; &nbsp; {PAGE_NUMBER}
      <!-- ENDIF -->
    </div>


    <div class="float-right">

    <!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
      <!-- IF not S_IS_BOT and U_MARK_TOPICS -->
      <div class="pagination">
      <a href="{U_MARK_TOPICS}" class="button1 float-right" data-ajax="mark_topics_read"><i class="fa fa-check"></i>&nbsp;&nbsp;{L_MARK_TOPICS_READ}</a>
      </div>
      <!-- ENDIF -->
    <!-- ENDIF -->

  </div><!-- /.float-right -->
  </div><!-- /.topic-actions -->
<!-- ENDIF -->



<!-- IF S_DISPLAY_ONLINE_LIST and S_DISPLAY_POST_INFO -->
  <div id="forum-stats" class="viewforum-stats">

  <!-- IF S_DISPLAY_ONLINE_LIST -->
    <div class="panel panel-secondary float-left">
      <div class="panel-heading">
        <h3>
        <i class="fa fa-question-circle"></i>
        <!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>
        <!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF -->
        </h3>
      </div>

      <div class="panel-body">
      <p>{LOGGED_IN_USER_LIST}</p>
      </div>
    </div>
  <!-- ENDIF -->



  <!-- IF S_DISPLAY_POST_INFO -->
  <div class="panel panel-secondary float-right">
    <div class="panel-heading">
    <h3><i class="fa fa-exclamation-triangle"></i> {L_FORUM_PERMISSIONS}</h3>
    </div>

    <div class="panel-body">
    <p> <!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --> </p>
    </div>
  </div>

  <!-- ENDIF -->
  <div class="float-clear"></div>
  </div><!-- /#forum-stats -->
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->


<!-- INCLUDE overall_footer.html -->