/* Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
*/

.dropdown-phpbb31-select {
	padding-right: 24px;
}

.dropdown-phpbb31-select.icon-button:before {
	margin-right: 4px;
}

.dropdown-phpbb31-select:after {
	background-position: -103px 10px;
	border-left: 1px solid;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
	width: 16px;
}

.dropdown-phpbb31-visible .dropdown-phpbb31-select:after, .nojs .dropdown-phpbb31-container:hover .dropdown-phpbb31-select:after {
	background-position: -103px -10px;
}

.buttons .button, .dropdown-phpbb31-select {
	margin-right: 5px;
}

#jumpbox .dropdown-phpbb31-select {
	margin: 0;
}

/* Big button images */
.reply-icon:before, .pmreply-icon:before					{ background-position: -20px 0; }
.reply-icon:hover:before, .pmreply-icon:hover:before		{ background-position: -20px -20px; }

.post-icon:before, .newpm-icon:before, .reply-all:before	{ background-position: 0 0; }
.post-icon:hover:before,
.newpm-icon:hover:before,
.reply-all:hover:before										{ background-position: 0 -20px; }

.locked-icon:before											{ background-position: -60px 0; }
.locked-icon:hover:before									{ background-position: -60px -20px; }

.forwardpm-icon:before										{ background-position: -40px 0; }
.forwardpm-icon:hover:before								{ background-position: -40px -20px; }

.modtools-icon {
	font-size: 0;
}

.tools-icon:before, .modtools-icon:before, .search-icon:before, .search-adv-icon:before {
	background-position: -80px 0;
	height: 16px;
	margin-top: 2px;
	width: 16px;
}

.dropdown-phpbb31-visible .tools-icon:before,
.nojs .dropdown-phpbb31-container:hover .tools-icon:before			{ background-position: -80px -20px; }

.search-icon:before											{ background-position: -245px 0; }
.search-icon:hover:before									{ background-position: -245px -20px; }

.search-adv-icon:before										{ background-position: -265px 0; }
.search-adv-icon:hover:before								{ background-position: -265px -20px; }

.modtools-icon:before										{ background-position: -225px 0; }
.dropdown-phpbb31-visible .modtools-icon:before,
.nojs .dropdown-phpbb31-container:hover .modtools-icon:before		{ background-position: -225px -20px; }

/* Icon images
---------------------------------------- */
.small-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
}

.small-icon > a {
	display: inline-block;
	padding: 0 0 0 18px;
}

ul.linklist.bulletin > li.small-icon:before {
	display: none;
}

.dropdown-phpbb31 .small-icon > a {
	display: block;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	padding: 0;
	border: 0
}

/*
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
*/

/* Button Styles
---------------------------------------- */

/* Rollover buttons 
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
*/

.buttons {
  float: left;
  width: auto;
  height: auto;
}

/* Rollover state */
.buttons div {
  float: left;
  margin: 0 5px 0 0;
  background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  position: relative;
  overflow: hidden;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*.buttons div span		{ display: none; }*/
/*.buttons div a:hover	{ background-image: none; }*/
.buttons div span {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.buttons div a:hover span { background-position: 0 100%; }

/* Big button images */
.reply-icon span { background: transparent none 0 0 no-repeat; }
.post-icon span { background: transparent none 0 0 no-repeat; }
.locked-icon span { background: transparent none 0 0 no-repeat; }
.pmreply-icon span { background: none 0 0 no-repeat; }
.newpm-icon span { background: none 0 0 no-repeat; }
.forwardpm-icon span { background: none 0 0 no-repeat; }

/* Set big button dimensions */
.buttons div.reply-icon { 
  width: {IMG_BUTTON_TOPIC_REPLY_WIDTH} px;
  height: {IMG_BUTTON_TOPIC_REPLY_HEIGHT} px;
}
.buttons div.post-icon {
  width: {IMG_BUTTON_TOPIC_NEW_WIDTH}px;
  height: {IMG_BUTTON_TOPIC_NEW_HEIGHT} px;
}
.buttons div.locked-icon {
  width: {IMG_BUTTON_TOPIC_LOCKED_WIDTH }px;
  height: {IMG_BUTTON_TOPIC_LOCKED_HEIGHT}px;
}
.buttons div.pmreply-icon {
  width: {IMG_BUTTON_PM_REPLY_WIDTH}px;
  height: {IMG_BUTTON_PM_REPLY_HEIGHT}px;
}
.buttons div.newpm-icon {
  width: {IMG_BUTTON_PM_NEW_WIDTH}px;
  height: {IMG_BUTTON_PM_NEW_HEIGHT}px;
}
.buttons div.forwardpm-icon {
  width: {IMG_BUTTON_PM_FORWARD_WIDTH}px;
  height: {IMG_BUTTON_PM_FORWARD_HEIGHT}px;
}

/* Sub-header (navigation bar)  */
a.print, a.sendemail, a.fontsize {
  display: block;
  overflow: hidden;
  height: 18px;
  text-indent: -5000px;
  text-align: left;
  background-repeat: no-repeat;
}
a.print {
  background-image: none;
  width: 22px;
}
a.sendemail {
  background-image: none;
  width: 22px;
}
a.fontsize {
  background-image: none;
  background-position: 0 -1px;
  width: 29px;
}
a.fontsize:hover {
  background-position: 0 -20px;
  text-decoration: none;
}

/* .profile-icons : */
.aim-icon, .aim-icon a { background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a { background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a { background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a { background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a { background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a { background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }

ul.profile-icons li {
  width: 20px;
  height: 20px;
}