/* SITE COLORS
--------------------------------------------- */
/* primary-color */
a, a:link, a:visited, .opts-container .button2, .info-block .display-options .button2, .sidebar-block.tabs-panel .nav-tabs, .sidebar-block.tabs-panel .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, a.forumtitle:hover, a.forumtitle:active, a.topictitle:hover, a.topictitle:active, .navbar.beadcrumb ul.navitems a:hover, input.search-icon:focus, .navbar-default .nav > .mega-menu.open > a, .navbar-default .nav > .mega-menu.open > a:hover, .navbar-default .nav > .mega-menu.open > a:focus, #main-navbar .dropdown-menu > li > a, #tabs .activetab a span, #tabs .activetab a:hover span, .search-box .button2
  { color: #4E6EE3; }

#mobbern-header-2 #main-navbar.navbar, .info-block .display-options .button2:hover, .sidebar-block.tabs-panel .nav-tabs, .topiclist > li.header, #main-navbar.navbar-fixed, #main-navbar.navbar-default, .panel .panel-heading, #minitabs li, .posthilit, #tabs, .table1 thead, a.button1, input.button1, input.button3, a.button2, input.button2, .carousel .item, .panel-rules .panel-body
  { background-color: #4E6EE3; }

.content.quick-reply
  { border-color: #4E6EE3; }

.row .pagination span a:hover, li.pagination span a:hover, .pagination span strong, .row .pagination ul li a:hover 
  {
  background-color: #4E6EE3;
  border-color: #4E6EE3;
  }

a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, #main-navbar .navbar-toggle:hover, #main-navbar .navbar-toggle:focus, #tabs a:hover span, .sidebar-block.tabs-panel .nav-tabs>li>a:hover, .sidebar-block.tabs-panel .nav-tabs>li>a:focus
  { background-color: #46cc7f; }

/* primary-color-lighter */
#main-navbar .dropdown-menu > li > a:hover, #main-navbar .dropdown-menu > li > a:focus
  { background-color: #8ba0ec; }

/* primary-color-dark */
a.button1:focus, input.button1:focus, a.button2:focus, input.button2:focus, input.button3:focus, a.button1:active, a.button2:active
  { background-color: #3a52aa; }

/* primary-color-darkest */
html, #page-footer, #simple-wrap .copyright
  { background-color: #314078; }

.footer-contact-social a .icon
  { color: #0d4263; }

/* text-color-footer */
#page-footer, .footer-links-list a, #simple-wrap .copyright, .copyright a
  { color: #91a5ae; }

.footer-contact-social a .icon
  { background-color: #91a5ae; }



/* BOOTSTRAP COLORS
--------------------------------------------- */
/* primary-color */
.panel-primary > .panel-heading .badge, .pagination > li > a, .pagination > li > span, .btn-link, .btn-primary .badge, .text-primary
  { color: #4E6EE3; }

.progress-bar, .badge, .label-primary, .navbar-default, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active, .btn-primary, .bg-primary
  { background-color: #4E6EE3; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active, .panel-primary, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  { border-color: #4E6EE3; }

.panel-primary > .panel-heading, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
  {
  background-color: #4E6EE3;
  border-color: #4E6EE3;
  }

.panel-primary > .panel-heading + .panel-collapse > .panel-body
  { border-top-color: #4E6EE3; }

.panel-primary > .panel-footer + .panel-collapse > .panel-body
  { border-bottom-color: #4E6EE3; }

/* primary-color-light */
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
  { background-color: #7a92ea; }

.navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus
  { color: #45a9d4; }



/* OTHER COLORS
--------------------------------------------- */
a:hover, a:active, a.forumtitle:hover, a.forumtitle:active, a.topictitle:hover, a.topictitle:active 
  { color: #000; }

.copyright a:hover, .footer-panel-body a, .footer-panel-body a:hover, a.button1, input.button1, input.button3, a.button2, input.button2
  { color: #FFF; }


/* $secondary-color: ; */
a.button1, .panel-secondary .panel-heading
  { background-color: #09BC55; }

.footer-contact-options .icon, .footer-contact-options a .icon
  { color: #09BC55; }

/* $primary-color-nav: saturate(mix($primary-color, #FFF, 90%), 10%); */
#main-navbar.navbar-fixed.navbar-default, #mobbern-header-0 #main-navbar
  { background-color: #5376F5; }

/* $primary-color-lightest: mix($primary-color, white, 35%); */
li.header dl, li.header dd, li.header .collapse-button, .carousel-indicators li
  { color: #c1ccf5; }

.carousel-indicators li.active 
  { background-color: #AFBFF8; }
