/* Theme Control Panel
--------------------------------------------- */

div.theme-cp.sidebar-block.tabs-panel { margin-bottom: 20px }

div.theme-cp.sidebar-block.tabs-panel>.tab-content,
div.theme-cp.sidebar-block.tabs-panel>.nav-tabs>li.active>a,
div.theme-cp.sidebar-block.tabs-panel>.nav-tabs>li.active>a:hover, 
div.theme-cp.sidebar-block.tabs-panel>.nav-tabs>li.active>a:focus {
	background-color: #FFF !important;
}

div.theme-cp>.tab-content .panel .panel-body {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  box-shadow:         0 2px 2px 0 rgba(0,0,0,0.1);

  border: solid 1px #DDD;
  border-top: none;
  margin-top: 0;
}

div.theme-cp>.tab-content .panel.post-buttons {
	margin: 0 -15px -5px;
	background-color: #F7F7F7;
	padding: 5px 15px;
	text-align: left;
}

/* grid system */
@media (min-width: 980px) {
	div.theme-cp>.tab-content .row { margin: 0 -10px 20px; }
	div.theme-cp>.tab-content .row>div.col-md-6 {	width: 48%; margin: 0 1%; }
	div.theme-cp>.tab-content .row>div.col-md-12 {	width: 98%; margin: 0 1% 20px; }
}

/* dl.option : */
div.theme-cp>.tab-content dl.option>dd label {
	cursor: pointer;
	margin-right: 15px !important;
}

div.theme-cp>.tab-content dl.option {
	float: none;
	clear: both;
	height: 35px;
}

div.theme-cp>.tab-content dl.option>dt {
	float: left;
	width: 40%;
	margin-right: 5%;
	font-weight: 600;
}

#page-body div.theme-cp>.tab-content dl.option>dt>label { display: inline; font-weight: 600 }
#page-body div.theme-cp>.tab-content dl.option>dt strong { font-weight: 600 }

div.theme-cp>.tab-content dl.option>dt>p,
div.theme-cp>.tab-content dl.option>dt>label>i {
	font-size: 0.94em;
	font-weight: 400;
	color: #AAA;
	display: block;
	font-style: normal;
}

div.theme-cp>.tab-content dl.option>dd {
	float: left;
	width: 55%;
	line-height: 35px;
	margin-bottom: 15px;
}

div.theme-cp>.tab-content dl.option>dd input[type="text"],
div.theme-cp>.tab-content dl.option>dd textarea {
	border: solid 1px #DDD;
	padding: 10px;
	line-height: 1;
	width: 100%;
}

div.theme-cp>.tab-content dl.option>dd.multi-input input { margin-top: -2px; }

div.theme-cp>.tab-content dl.option>dd select {
	width: 100%;
	border: solid 1px #DDD;
}

div.theme-cp>.tab-content dl.option>dd .btn-group-justified { margin-top: 10px; }

div.theme-cp>.tab-content dl.option>dd .btn { font-size: inherit; }

.user_color, #color_picker {
  height: 38px;
}
div.theme-cp>.tab-content dl.option>dd input.user_color {
  float:left;
  text-transform: uppercase;
  width: 88%;
  margin-right: -1px;
  border-right: none;
}
#color_picker {
	position: relative;
	display: block;
  width: 12%;
	height: 38px;
  box-shadow:inset 0 0 0 1px #FFFFFF;
  float: right;
  border: solid 1px #555;
}

div.theme-cp>.tab-content dl.option>dd .popover { line-height: 1.42857143; font-size: 11px; }
div.theme-cp>.tab-content dl.option>dd .popover h3 { margin: 0 }